    <div class="row text-center px-5" [ngClass]="bg === 'dark' ? 'bg-dark text-white' : 'bg-light text-dark'" style="min-height: 85vh;">
<h1 class="fw-bolder">About me</h1>
<p>In this section you find my personal informations</p>
<div class="col-md-12 text-center px-5">
  <div class="row p-5">
        <div class="col-md-4 p-3">
          <div class="border rounded m-auto bg-personal p-0" data-aos="fade-right" data-aos-delay="500" data-aos-duration="2000" [ngClass]="bg === 'dark' ? 'gold-shadow' : 'black-shadow'">
   <img src="assets/aboutme-images/raffaelecaravetta.jpg" alt="" class="border w-100 rounded-top">
<div class="row">
  <div class="col-md-6 p-2">
    <h3 class="fw-bolder">Nome :</h3>
    <p>Raffaele</p>
  </div>
  <div class="col-md-6 p-2">
    <h3 class="fw-bolder">Cognome :</h3>
    <p>Caravetta</p>
  </div>
  <div class="col-md-6 p-2">
    <h3 class="fw-bolder">Età :</h3>
    <p>29</p>
  </div>
  <div class="col-md-6 p-2">
    <h3 class="fw-bolder">Nazionalità :</h3>
    <p>Italia</p>
  </div>
  <div class="col-md-6 p-2">
    <h3 class="fw-bolder">Città :</h3>
    <p>Cosenza</p>
  </div>
</div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12 p-3">
 <div class="text-center my-1 p-0 border rounded bg-personal" [ngClass]="bg === 'dark' ? 'gold-shadow' : 'black-shadow'" data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000">
<div class="row ">
    <div class="col-md-12 " >
<h2 class="fw-bolder">Description</h2>
<p class="fs-5 w-50 m-auto">
  I define myself ad a nice guy. I love practicing respect before everything. I also love coding, i think it is a cool way of express ourselves. I like create applications that do something,
  from each possible field. I also define myself as a professional worker. I stay in the first line for learning, contribute to the company success and work together with collegues, set and reach goals.
  I love so much to travel, discover new places, meet new people. I also love to read, walk, exercise and eat well.
</p>
    </div>
   <div class="col-md-12">
  <div class="row py-5 text-center">
   <div class="col-md-2 py-3 m-auto" *ngFor="let s of socialArray">
   <a href="{{s.link}}" target="_blank"><img src="{{s.image}}" alt=""></a>
   </div>
  </div>
</div>
  </div>
 </div>

</div>

   <div class="col-md-12 p-3 ">
    <div class="my-1 p-0 border rounded bg-personal" [ngClass]="bg === 'dark' ? 'gold-shadow' : 'black-shadow'" data-aos="fade-left" data-aos-delay="500" data-aos-duration="2000">
<h2 class="fw-bolder">Some of the phrases i like the most : </h2>
<ul class="w-75 m-auto">
  <li class="p-3">"Experience is what you get when you didn't get what you wanted.”
    ― <span class="text-success fs-6 fw-bolder"> Randy Pausch, The Last Lecture </span></li>
  <li class="p-3">"Here’s to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They’re not fond of rules. And they
    have no respect for the status quo. You can praise them, disagree with them, quote them, disbelieve them, glorify or vilify them. About the only thing you can’t do is ignore them.
     Because they change things. They invent. They imagine. They heal. They explore. They create. They inspire. They push the human race forward. Maybe they have to be crazy. How else can
      you stare at an empty canvas and see a work of art? Or sit in silence and hear a song that’s never been written? Or gaze at a red planet
     and see a laboratory on wheels? While some see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do."
     ―<span class="text-success fs-6 fw-bolder"> Steve Jobs, Think different </span></li>
  <li class="p-3">
    "Sincerity is not proof of truth. We must not make the mistake of saying: 'he must be right; he's so sincere.' Because, it is possible that he is sincerely wrong. We can only judge truth with truth and
    sincerity with sincerity." ―<span class="text-success fs-6 fw-bolder"> Jim Rohn, The five keys of success </span>
  </li>
</ul>
    </div>
    </div>

          </div>
        </div>



  </div>
</div>


<div class="col-md-12 py-3">
  <h2>↓ ↓ ↓ Visita il mio github ↓ ↓ ↓</h2>
  <button class="btn">

  <a href="https://github.com/RaffaeleCaravett" target="_blank" class="fs-4 text-warning " style="text-decoration: none;bottom:10px">   <img src="assets/aboutme-images/github-logo.png" class="w-25" alt=""></a>
  </button>
</div>

<div class="col-md-12 p-5 text-start">
  <div id="map"  [ngClass]="bg === 'dark' ? 'gold-shadow' : 'black-shadow'" style="height: 400px;"></div>
</div>

  </div>

