  <div class="row text-center" [ngClass]="bg === 'dark' ? 'bg-dark text-white' : 'bg-light text-dark'" >
    <div class="col-md-12 py-3">
      <h1 class="fw-bolder">Raffaele Caravetta portfolio</h1>
      <p>Welcome to my personal portfolio! It is a pleasure to have you here.</p>
      <p>In this section you will find informations like programming languages that i use and the  projects that i've made.</p>
    </div>
    <div class="col-md-12">
      <div class="row ">
          <div class="col-md-10 m-auto p-4 text-center bg-transparent " data-aos="fade-up" data-aos-duration="2000" *ngFor="let s of skillsArray; index as i">
      <h2>{{s.category}}</h2>
        <!-- <div class="col-xl-3 col-md-4 col-sm-6 p-1 bg-transparent element-to-shake" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="2000" *ngFor="let st of s.tools">
        <div class="card w-100 bg-transparent" style="min-height: 435.36px;">
          <img src="{{st.image}}" class="card-img-top w-100" alt="...">
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto">
            <strong class="fs-4">{{st.name}}</strong><br>
              {{st.description}}
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
      <div class="row p-0 m-0">
        <div class="col-md-1 position-relative" (mouseenter)="scrollLeft(i)" (mouseleave)="stopScroll(i)">
          <span style="font-size: 24px; cursor: pointer;" class="position-absolute top-50 ">&xlarr;</span>
        </div>
        <div class="col-md-10 pt-5 ">
          <div class="d-flex overflow-auto w-100 " id="scrollContainer{{i}}">
            <div  *ngFor="let st of s.tools" class="m-auto particular-width p-5"  [ngClass]="bg === 'dark' ? 'gold-shadow' : 'black-shadow'"
            >
              <div class="p-1 bg-transparent " data-aos="zoom-in" data-aos-delay="500" data-aos-duration="2000">
                <div class="card w-100 bg-white" style="min-height: 435.36px;">
                  <img src="{{st.image}}" class="card-img-top w-100" alt="..." style="max-height: 252.02px;min-height: 135.19px;">
                  <div class="card-body d-flex flex-column">
                    <p class="card-text mt-auto">
                      <strong class="fs-4">{{st.name}}</strong><br>
                      {{st.description}}
                    </p>
                  </div>
                </div>
              </div>
                    </div>
                  </div>
        </div>
        <div class="col-md-1 position-relative" (mouseenter)="scrollRight(i)" (mouseleave)="stopScroll(i)">
          <span style="font-size: 24px; cursor: pointer;" class="position-absolute top-50 ">&xrarr;</span>
        </div>
      </div>
    </div>
    <div class="col-md-10 m-auto p-4 text-center bg-transparent " data-aos="fade-up" data-aos-duration="2000">
<h2>My projects</h2>
<p>Here's a brief section with my projects . You can find both projects in final versions, and other in trial versions. Hope you enjoy.</p>
<div class="row py-5">
<div class="col-md-4 p-3" *ngFor="let p of projectsArray">
  <div class="border rounded shadow position-relative p-5" style="height: 100%;">
    <h1 class="text-success"><strong>{{p.title}}</strong></h1>
  <p>{{p.description}}</p>
  <a href="{{p.link}}" target="_blank" class="fs-4 text-warning position-absolute" style="text-decoration: none;bottom:10px">Visit ➡️</a>
  </div>
</div>
</div>

</div>
      </div>
    </div>
  </div>
