<div class="container p-5 text-center">
<div class="row p-5 bg-black overflow-auto">
  <div class="row p-5 bg-warning overflow-auto">
    <div class="row p-5 bg-secondary overflow-auto">
      <div class="row p-5 bg-primary overflow-auto">
        <div class="row p-5 bg-danger overflow-auto">
          <div class="row p-5 bg-light overflow-auto">
            <div class="row p-5 bg-success overflow-auto">
              <button class="btn fs-1" [routerLink]="''">🏠</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
