@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~aos/dist/aos.css";
@keyframes shake {
  0%, 100% {
    transform: translate(0, 0);
  }
  25%, 75% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
}

.element-to-shake:hover {
  animation: shake 0.5s ease-in-out infinite;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.gold-shadow {
  box-shadow: 0 4px 8px rgba(255, 223, 0, 0.6);
}
.black-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.bg-personal{
  background: rgba(255, 255, 255,0.5);

}
